<div>
  <mat-toolbar>
    <mat-toolbar-row>
      <span><a>Initiative</a></span>
      <span class="spacer"></span>
      <app-languages></app-languages>
    </mat-toolbar-row>
  </mat-toolbar>

  <div style="height: 100vh">
    <mat-toolbar color="primary" fxLayoutAlign="space-around center">
      <div fxShow="true" fxHide.gt-sm="true">
        <button mat-icon-button (click)="sidenav.toggle()">
          Menu
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div fxShow="true" fxHide.lt-md="true">
        <a mat-button routerLink="/home">Home</a>
        <a mat-button routerLink="/recruiters">Recruiters</a>
        <a mat-button routerLink="/candidates">Candidates</a>
        <a mat-button routerLink="/jobs">Jobs</a>
        <a mat-button routerLink="/faq">FAQ</a>
        <a mat-button routerLink="/about-us">About Us</a>
        <a mat-button routerLink="/contact">Contact</a>
        <a mat-button routerLink="/signup">Sign Up</a>
      </div>
    </mat-toolbar>
    <mat-sidenav-container fxFlexFill class="example-containter">
      <mat-sidenav
        color="primary"
        #sidenav
        fxLayout="column"
        mode="over"
        opened="false"
        fxHide.gt-sm="true"
      >
        <div fxLayout="column">
          <a mat-button routerLink="/home" (click)="sidenav.toggle()">Home</a>
          <a mat-button routerLink="/recruiters" (click)="sidenav.toggle()"
            >Recruiters</a
          >
          <a mat-button routerLink="/candidates" (click)="sidenav.toggle()"
            >Candidates</a
          >
          <a mat-button routerLink="/jobs" (click)="sidenav.toggle()">Jobs</a>
          <a mat-button routerLink="/faq" (click)="sidenav.toggle()">FAQ</a>
          <a mat-button routerLink="/about-us" (click)="sidenav.toggle()"
            >About Us</a
          >
          <a mat-button routerLink="/contact" (click)="sidenav.toggle()"
            >Contact</a
          >
        </div>
      </mat-sidenav>
      <mat-sidenav-content fxFlexFill>
        <router-outlet></router-outlet
      ></mat-sidenav-content>
    </mat-sidenav-container>
  </div>
  <hr />
</div>
