<mat-toolbar color="primary">
  <div fxHide.gt-sm>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div><a routerLink="/">INITIATIVE</a></div>
  <div fxFlex fxLayout fxLayoutAlign="center" fxHide.lt-md>
    <ul fxLayout fxLayoutGap="10px" class="navigation-items">
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/recruiters">Recruiters</a></li>
      <li><a routerLink="/candidates">Candidates</a></li>
      <li><a routerLink="/jobs">Jobs</a></li>
      <li><a routerLink="/faq">FAQ</a></li>
      <li><a routerLink="/about-us">About Us</a></li>
      <li><a routerLink="/contact">Contact</a></li>
    </ul>
  </div>
  <!-- <div fxFlex></div> -->
  <!-- <div fxLayout fxLayoutAlign="flex-end" fxHide.lt-md>
    <ul fxLayout fxLayoutGap="10px" class="navigation-items">
      <li><a routerLink="/signup">Sign Up</a></li>
      <li><a routerLink="/login">Login</a></li>
    </ul>
  </div> -->
</mat-toolbar>
